version: '3.9'

services:
  app:
    container_name: finanzas_app
    # Using GitHub Container Registry image
    image: ghcr.io/danielvasquez507/finanzasapp:latest
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - DATABASE_URL=file:/app/db_data/prod.db
      - NODE_ENV=production
      - NEXT_TELEMETRY_DISABLED=1
      - NEXTAUTH_SECRET=cambiar_esto_por_secreto_seguro_produccion
    volumes:
      - ${DB_VOLUME_PATH:-./db-data}:/app/db_data
