@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #334155;
  /* slate-700 */
  border-radius: 99px;
}

::-webkit-scrollbar-thumb:hover {
  background: #475569;
  /* slate-600 */
}

.dark ::-webkit-scrollbar-thumb {
  background: #1e293b;
  /* slate-800 */
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: #334155;
  /* slate-700 */
}

/* Hide Number Input Spinners */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* Dynamic Progress Bar Helper */
.dynamic-bar {
  width: var(--progress-width, 0%);
}